<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>NumRec APP</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark mb-5" id="logo">
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="mx-auto" href="#" id="logo">
                <h5 class="display-4">NumRec</h5>
            </a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row offset-md-3">
            <div class="col-12 col-md-8" id="webcam">

            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-12 text-center">
                <button class="btn btn-success mr-2" onclick="open_wc();">Web Kamerasını Aç</button>
                <button class="btn btn-danger" onclick="take_snapshot();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16" style="top: -2px;position: relative; margin-right: 5px;">
                        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                    </svg>
                    Fotoğraf Çek
                </button>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-content-center">
            <h2 id="prediction">Tahmin edilen değer : </h2>
        </div>
        <hr>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>

        Webcam.set({
            width:535,
            height:480,
            image_format:'jpeg',
            jpeg_quality:100
        });

        function open_wc()
        {
            Webcam.attach("#webcam");
        }
        function take_snapshot()
        {
            Webcam.snap(function(data_uri){


                let base64Image = data_uri.replace("data:image/jpeg;base64","");

                let message = {
                    image: base64Image
                }
                $.post("http://127.0.0.1:5000/predict", JSON.stringify(message), function(response){
                    console.log(response.prediction);
                    $('#prediction').text('Tahmin edilen değer : '+ response.prediction)
                });
            });
        }
    </script>
</body>
</html>